body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 800px;
    background-color: rgb(63, 63, 245);
    color: white;
    margin: 30px auto;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.authors {
    border: none;
    padding: 15px 10px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 20px;
    flex-grow: 1;
    margin: 5px;
    cursor: pointer;
}

.quote {
    background-color: white;
    padding: 10px;
}
.random-quote{
    width: 100%;
    box-sizing: border-box;
    color: rgb(128, 0, 60);
    background-color: rgb(223, 166, 208);;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid grey;
}
.btn{
    border: none;
    padding: 15px 10px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 20px;
    background-color: tomato;
    color: black;
    cursor: pointer;
    margin: 5px;
    margin-top: 20px;
}
.btn:hover{
    color: white;
    background-color: rgb(21, 41, 1);
}
.author-btn{
    border: none;
    margin-left: 480px;
    padding: 10px;
    width: 300px;
    height: 70px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 1px;
}
.author-btn:hover{
    color: rgb(221, 6, 42);
    background-color: rgb(162, 97, 223);
}